<!DOCTYPE html>
<html>
<head>
    <title>Select Champions</title>
</head>
<body>
    <h1>Select Champions to Compare</h1>

    <form method="POST">
        {% for champ in champions %}
            <label>
                <input type="checkbox" name="champions" value="{{ champ }}">
                {{ champ }}
            </label><br>
        {% endfor %}
        <br>
        <button type="submit">Start Ranking</button>
    </form>

    <p>If you select nothing, ALL champions will be used.</p>
</body>
</html>
